<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking App</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'rooms' %}">Головна</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'user_bookings' %}">Ваші бронювання</a></li>
                <li><a href="{% url 'logout' %}">Вийти</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Увійти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {%block content%}
        
        {%endblock%}
    </main>
    <footer></footer>
</body>
</html>